.nav-link-login {
    margin-bottom: -1px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    background: 0 0;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
